<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EnvironmentName" value="Local"/>
    <add key="BaseDataDir" value="d:\Temp\ActuarialFactors1990Processor"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString-Local" connectionString="Data Source=DIGIMAN-PC-2\DIGIMANDB;Initial Catalog=DataProcessingAppDB;Integrated Security=True;"/>
    <add name="ConnectionString-Work" connectionString="Data Source=AKUKHARENK-1379\WORKDB12;Initial Catalog=DataProcessingAppDB;Integrated Security=True;"/>
  </connectionStrings>
</configuration>